* {
    padding: 0;
    margin: 0;
}

.div1 {
    height: 350px;
    background-color: rgb(74, 207, 216);
}

.div2 {
    height: 301px;
    background-color: rgb(155, 155, 155);
}

.div11 {
    background-image: url(flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    height: 400px;

}

.div12 {
    background-image: url(images.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    height: 400px;
    margin-left: 400px;
}